[Unit]
Description=AWS CodeStar Sample ASP.NET Core Web Service

[Service]
WorkingDirectory=/home/ubuntu/aspnetcoreservice/
ExecStart=/home/ubuntu/aspnetcoreservice/NetCoreWorker
Restart=always
RestartSec=10
SyslogIdentifier=netcoreworker
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target